@model proyectoWEBSITESmeall.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<section class="vh-500 bg-image"
         style="background-image: url('https://i.pinimg.com/564x/4b/fb/d7/4bfbd74b2e60ee2d30b2090b8ae86176.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="text-center my-4">
                <img src="~/img/logo_SML.jpeg" class="logo" />
            </div>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-4 text-danger">¿Estás seguro de eliminar este usuario?</h2>
                            <hr class="bg-light" />

                            <dl class="row">
                                <dt class="col-sm-4">Nombre Usuario</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.NombreUsuario)</dd>

                                <dt class="col-sm-4">Nombres</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Nombres)</dd>

                                <dt class="col-sm-4">Email</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                                <dt class="col-sm-4">Área Asignada</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.AreaAsignada)</dd>
                            </dl>

                            <form asp-action="Delete">
                                <input type="hidden" asp-for="IdUsuario" />
                                <div class="d-flex justify-content-between mt-4">
                                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                                    <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
