@model proyectoWEBSITESmeall.Models.Usuario

@{
    ViewData["Title"] = "Registro de Usuario";
}

<section class="vh-500 bg-image"
         style="background-image: url('https://i.pinimg.com/564x/4b/fb/d7/4bfbd74b2e60ee2d30b2090b8ae86176.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="text-center my-4">
                <img src="~/img/logo_SML.jpeg" class="logo" />
            </div>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Registro de Usuario</h2>
                            <hr class="bg-light" />

                            <form asp-action="AccionMultiple" method="post">
                                <div class="form-outline mb-4">
                                    <label class="form-label">ID*</label>
                                    <input asp-for="IdUsuario" class="form-control" placeholder="Id del Usuario" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Nombre*</label>
                                    <input asp-for="NombreUsuario" class="form-control" placeholder="Nombre" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Apellido*</label>
                                    <input asp-for="Apellidos" class="form-control" placeholder="Apellido" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">DNI*</label>
                                    <input asp-for="Dni" class="form-control" placeholder="DNI" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Teléfono*</label>
                                    <input asp-for="Telefono" class="form-control" placeholder="Teléfono" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Email*</label>
                                    <input asp-for="Email" class="form-control" placeholder="Email" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Contraseña*</label>
                                    <input asp-for="Contrasena" class="form-control" placeholder="Contraseña" />
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Área Asignada*</label>
                                    <select asp-for="AreaAsignada" class="form-select">
                                        <option value="">Seleccione un área</option>
                                        <option value="Ventas">Ventas</option>
                                        <option value="Compras">Compras</option>
                                        <option value="Almacén">Almacén</option>
                                        <option value="Administrativa">Administrativo</option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <h6 class="mb-2 pb-1">Género*: </h6>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Genero" value="Mujer" />
                                        <label class="form-check-label">Mujer</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Genero" value="Hombre" />
                                        <label class="form-check-label">Hombre</label>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center">

                                    <button type="reset" class="btn btn-outline-info me-2" data-mdb-ripple-init data-mdb-ripple-color="dark">Nuevo</button>

                                    <button type="submit" name="accion" value="Buscar" class="btn btn-outline-info me-2" data-mdb-ripple-init data-mdb-ripple-color="dark">Buscar</button>

                                    <button type="submit" name="accion" value="Actualizar" class="btn btn-outline-info me-2" data-mdb-ripple-init data-mdb-ripple-color="dark">Actualizar</button>

                                    <button type="submit" name="accion" value="Registrar" class="btn btn-outline-info" data-mdb-ripple-init data-mdb-ripple-color="dark">Registrar</button>

                                </div>

                                <p class="text-center text-muted mt-5 mb-0">¿Ya te registraste? <a href="~/Usuarios/Login" class="fw-bold text-body"><u>Iniciar Sesión</u></a></p>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

