@* @model proyectoWEBSITESmeall.Models.DetalleCompra

@{
    ViewData["Title"] = "RegistrarPedido";
}

<section class="vh-200 bg-image"
         style="background-image: url('https://i.pinimg.com/564x/87/b4/ec/87b4ec77c3496494ddb871b1213823ef.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="text-center my-4">
                <img src="~/img/logo_SML.jpeg" class="logo" />
            </div>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Registro de Pedido Realizado</h2>
                            <hr class="bg-light" />

                            <form asp-action="Guardar" method="post">
                                <div class="form-outline mb-4">
                                    <label class="form-label">Código del Producto*</label>
                                    <input asp-for="CodigoProducto" class="form-control" placeholder="Código del producto" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label">Fecha del Pedido*</label>
                                    <input asp-for="FechaPedido" type="date" class="form-control" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label">Marca del Producto*</label>
                                    <input asp-for="MarcaProducto" class="form-control" placeholder="Nombre de la Marca" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label">Categoría*</label>
                                    <input asp-for="Categoria" class="form-control" placeholder="Categoría del Producto" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label">Producto*</label>
                                    <input asp-for="NombreProducto" class="form-control" placeholder="Nombre del producto" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label">Cantidad*</label>
                                    <input asp-for="Cantidad" type="number" class="form-control" placeholder="Cantidad" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label">Precio Unitario*</label>
                                    <input asp-for="PrecioUnitario" type="number" class="form-control" placeholder="S/." required />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label">Precio Total*</label>
                                    <input asp-for="PrecioTotal" type="number" class="form-control" placeholder="S/." required />
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="reset" class="btn btn-outline-info me-2">Nuevo</button>
                                    <button type="submit" class="btn btn-outline-info">Guardar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 *@